body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top:150px;
  padding-bottom:200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: scale-down;
}


.navbar-bg-color{
  background-color:rgb(233, 128, 193);
}


.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: cursive;
  font-size: 2rem;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 5px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  color: #6ecd6e;
  font-size: 15.7px;
  font-weight: 400;
}

.nav-item a:focus {
  background-color:rgb(233, 128, 193);
}

.nav-item a:hover {
  background-color:rgb(233, 128, 193);
}

.nav-item a:visited {
  background-color:rgb(233, 128, 193);
}